:root {
    --blue: hsl(230, 95%, 61%);
    --wet-asphalt: hsl(229, 18%, 24%);
    --gray: hsla(229, 18%, 50%, 1);

    --body-text-color: var(--wet-asphalt);
    --body-bg-color: white;
    --border-color: #E0E4EC;
    --text-secondary: var(--gray);

    --primary: var(--blue);
    --secondary: white;
    --alternative: var(--wet-asphalt);

    --sidebar-width: 250px;
    --sidebar-bg-color: #F6F8FB;

    --search-bg-color: #F6F8FB;
}