@import './_colors.css';

:root {
    --body-text-color: var(--gray-900);
    --body-bg-color: var(--gray-100);

    --border-color: var(--gray-300);
    --text-secondary: var(--gray-700);

    --primary: var(--indigo-700);
    --secondary: white;
    --alternative: var(--gray-900);

    --sidebar-width: 250px;
    --sidebar-bg-color: white;
}